* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --wrapper-color: linear-gradient(
    to bottom,
    rgba(255, 64, 50, 0.8),
    rgba(71, 17, 116, 0.9)
  );
  --input-color: rgba(255, 255, 255, 0.2);
  --btn-color: #ff4032;
  --btn-hover-color: #ff5c4d;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  background-color: black;
  color: #fff;
}

.wrapper {
  background:
    var(--wrapper-color),
    url("../images/background.jpg") no-repeat center/cover;
  height: 100vh;
}

.header {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-bottom: 50px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .logo {
  width: 150px;
  justify-content: center;
  align-items: center;
}

.header div i {
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: blue;
}
