* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --wrapper-color: linear-gradient(
    to bottom,
    rgba(255, 64, 50, 0.8),
    rgba(71, 17, 116, 0.9)
  );
  --input-color: rgba(255, 255, 255, 0.2);
  --btn-color: #ff4032;
  --btn-hover-color: #ff5c4d;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  background-color: black;
  color: #fff;
}

.wrapper {
  background:
    var(--wrapper-color),
    url("../images/background.jpg") no-repeat center/cover;
  min-height: 100vh;
  padding: 30px;
}

/* Header  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  /* margin-bottom: 50px; */
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header .logo {
  width: 150px;
  justify-content: center;
  align-items: center;
}

.header-right div i {
  margin-right: 10px;
}

a {
  /* text-decoration: none; */
  color: #fff;
}

a:hover {
  color: purple;
  cursor: pointer;
}

/* Main Section  */
.main-content {
  max-width: 1100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 50px;
  margin: 200px auto;
  padding: 0 40px;
}

/* Form  */
.main-content form {
  flex: 1 1 0%;
}

.main-content .text-container {
  flex: 1 1 0%;
}

.form-group {
  /* display: flex; */
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

input,
textarea {
  background: var(--input-color);
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 0;
  outline: 0;
}

textarea {
  height: 100px;
  resize: none;
  margin-bottom: 10px;
}

.btn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: var(--btn-color);
  color: #fff;
  border: 0;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-hover-color);
}

/* Text Content  */
.text-container h1 {
  font-size: 50px;
  line-height: 1.2;
  margin: 50px 0 20px;
}

.text-container p {
  font-size: 18px;
}

/* Media Query  */
@media (max-width: 768px) {
  .header {
    padding: 30px;
  }

  .header,
  .header-right {
    flex-direction: column;
    gap: 10px;
  }

  .main-content {
    flex-direction: column-reverse;
    justify-content: start;
    margin: auto;
    padding: 50px;
  }

  .main-content form,
  .main-content .text-container {
    width: 100%;
  }

  .text-container p {
    display: none;
  }
}

@media (max-height: 500px) {
  .main-content {
    margin: 0 auto;
  }
}
